@model CJCProjectEstimatorMVC.Models.ProjectListViewModel

@{
    ViewBag.Title = "Index";
}

 

 <table class='results'><tr><th class='legend'>Project Name</th><th></th></tr><tbody>

 @foreach (CJCProjectEstimatorMVC.Models.Project project in Model.Projects)
 {
   <tr>
   <td>
   @Html.ActionLink(project.Name, "Index", "ProjectEdit", new { ProjectId = project.ProjectId }, null)

   </td>
      <td>
      @Html.ActionLink("[Remove]", "RemoveProject", "ProjectEdit", new { ProjectId = project.ProjectId }, new { @class = "removeProject" } )

      </td>
   </tr>
 }
 </tbody>
 </table>

 <div class="contentClear"><p>Return to the @Html.ActionLink("Projects Page", "Index", "ProjectHome")</p></div>

 <script>
     $(document).ready(function () {
         $('.removeProject').click(function () {
             if (confirm("Are you sure you want to delete this Project?")) {
                 return true;
             }
             return false;
         });

     });
    
</script>