@model CJCProjectEstimatorMVC.Models.Project
@{
    ViewBag.Title = "Projects Dashboard";
}


  <div class="content">
    <h3><br />Projects Dashboard</h3>

    
   <p>Welcome to your projects home page. From here you can create a new project, search for an existing project, or run the projects report. </p>
   <div class="contentClear"><p>To view all your projects @Html.ActionLink("click here", "Index", "ProjectList").</p></div>
   
   <div class="dashboard">
    <h4 class="legend">Run Projects Report</h4>
    <hr />
       <p>
         @Html.ActionLink("Run Report", "Index", "Report")
       </p>
  </div>
  <div class="dashboard">
    <h4 class="legend">Search All Projects</h4>
    <hr />
    <form method="get" action="~/ProjectList">
@*    @Html.BeginForm("Index", "ProjectList", FormMethod.Get)
    {
*@       <p>Search Term:
         <input name="projectName" type="text" id="projectName" size="17" />
       </p>
       <p>
         <input type="submit" class="input" name="Search" id="Search" value="Go" />
       </p>
    @*}*@
    </form>
  </div>
  <div class="dashboard">
    <h4 class="legend">Create a new project<br />
    </h4>
    <hr>
    @Html.ActionLink("Create Project", "Index", "ProjectEdit")
  </div>
    <div class="contentClear"><p>Results will be displayed on the next page.</p></div>
  </div>